<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style/index.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top id=all_container padding">
        <div class="container-fluid" >
            <a class="navbar-brand" href="/">Game Voting</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                            <a class="nav-link" href="/intro">Introduction</a>
                     </li>
                    {% if session.admin_log_in %}
                        <li class="nav-item">
                            <a href="/admin" class="nav-link">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a href="/log-out" class="nav-link">log out</a>
                        </li>

                    {% elif session.log_in %}
                        <li class="nav-item">
                            <a href="/New_vote" class="nav-link">New Vote</a>
                        </li>
                        <li class="nav-item">
                            <a href="/log-out" class="nav-link">log out</a>
                        </li>



                    {% elif session.log_in %}
                        <li class="nav-item">
                            <a href="/admin" class="nav-link">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a href="/New_vote" class="nav-link">New Vote</a>
                        </li>
                        <li class="nav-item">
                            <a href="/log-out" class="nav-link">log out</a>
                        </li>

                    {% else %}
                        <li class="nav-item">
                        <a href="/sign-up" class="nav-link">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a href="/log-in" class="nav-link">Sign in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

   <div class="jumbotron" style="margin-top: 30px;">
      <h1 class="display-4">User Introduction</h1>
      <p class="lead">This is a game voting website, users should sign up and sign in first, then polls their favorite game,
          they can create their own favorite game as a option as well! We chose the database Mysql to store date. Steps shown as below:</p>
      <hr class="my-4">
      <p>1. Create your own account using your email</p>
      <p>2. Sign in, then the VOTE button will be shown on each game card, you can only vote for one game for one ticket</p>
      <p>3. If you don't like the games on the page, you can create your own poll by 'New Vote' button on the top right</p>
      <p>4. All the Statistical data will be shown and refreshed on the main page</p>
   </div>

   <div class="jumbotron" style="margin-top: 30px;">
      <h1 class="display-4">Administrator Introduction</h1>
      <p class="lead">Administrator can log in as administrator using a special account,
          admin can delete and edit polls, create a new topics or a new account by the buttons on the right top.
          Every poll comes from users will be recorded by system, admin can check and delete the records in the console.
          Steps shown as below:</p>
      <hr class="my-4">
      <p>1. Using account: admin, password: admin123, ticket the checkbox as well to log in</p>
      <p>2. Once logged in, you will be redirected to the admin console page</p>
      <p>3. First part shows the existed topics name and followed by description, the user who created it, then the tickets,
          you can edit the game_name, description and tickets</p>
      <p>4. Second part shows the existed users</p>
      <p>5. Third part shows the poll history by users, you can delete one record to deduct the tickets of relevant game</p>
   </div>

   <div class="jumbotron" style="margin-top: 30px;">
      <h1 class="display-4">Reference</h1>
      <p class="lead">References list</p>
      <hr class="my-4">
      <p>1. How to update date into mysql using flask: <a href="https://stackoverflow.com/questions/1307378/python-mysql-update-statement">https://stackoverflow.com/questions/1307378/python-mysql-update-statement</a></p>
      <p>2. Using JQuery and Ajax to make frontend interactive with the backend: <a href="https://www.youtube.com/watch?v=Kcka5WBMktw">https://www.youtube.com/watch?v=Kcka5WBMktw</a></p>
      <p>3. Edit/Delete polls how to update date in flask: <a href="https://www.youtube.com/watch?v=Us9DuF4KWUE&t=373s">https://www.youtube.com/watch?v=Us9DuF4KWUE&t=373s</a></p>
      <p>4. The horizontal bar comes from Chart.js: <a href="https://www.chartjs.org/docs/latest/charts/bar.html">https://www.chartjs.org/docs/latest/charts/bar.html</a></p>
      <p>5. The introduction page we use Bootstrap Jumbotron as a template: <a href="https://getbootstrap.com/docs/4.3/components/jumbotron/">https://getbootstrap.com/docs/4.3/components/jumbotron/</a></p>
      <p>6. We use Bootstrap navigation bar: <a href="https://getbootstrap.com/docs/4.3/components/navbar/">https://getbootstrap.com/docs/4.3/components/navbar/</a></p>
      <p>7. Bootstrap css and js library: <a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/">https://getbootstrap.com/docs/4.3/getting-started/introduction/</a></p>
      <p>8. JQuery library: <a href="https://jquery.com/">https://jquery.com/</a></p>
   </div>



</body>
</html>