.body{
    background-image: url('/static/img/t4.jpg');
    background-size: cover;
}
@media (min-width: 978px) {
    .container-fluid {
    }
}

.main-part{
    text-align: center
}

h1{
    margin-top: 1%;
    top: 10%;
    background-color: black;
    text-align: center;
    border-radius: 4px;
    color: ghostwhite;
    margin-bottom: 0;
}

form{
    margin-top:0;
}
ul.container{
    text-align: center;
}
ul li{
    list-style: none;
}

.form-control{
    background-color: #343434;
    height: 55px;
    font-size: 20px;
    color: #f6f5f2;
}
