<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style/index.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/script/index.js"></script>
</head>
<body>
    <div class="container-fluid">

        <div class="container-fluid" >
            <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top id=all_container padding">
                <div class="container-fluid" >
                    <a class="navbar-brand" href="/">Vote and Rank</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">

                            {% if session.log_in %}
                                <li class="nav-item">
                                <a href="/New_vote" class="nav-link">New Vote</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/log-out" class="nav-link">log out</a>
                                </li>

                            {% else %}
                                <li class="nav-item">
                                <a href="/sign-up" class="nav-link">Sign up</a>
                            </li>
                            <li class="nav-item">
                                <a href="/log-in" class="nav-link">Sign in</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                          {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}
                {% endwith %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-8 cards-parts">
                    <div class="row VoteList">

                        {% for title in title %}
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ title[0] }} </h5>
                                    <p class="card-text">{{ title[1] }}</p>
                                    <form action="" method="post">
                                        <input type="submit" class="btn btn-primary" name="submit" id="" value="Vote">
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>

                <div class="col-xs-12 col-md-4 ranking-parts">
                    <div class="ranking-items-part">
                        <ul class="ranking-items">
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                            <li>sdaaaaaaa</li>
                        </ul>
                    </div>
                    <div class="ranking-charts">
                        <img src="static/img/illustration-geiranger.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>



    <script>




    </script>
</body>
</html>